<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Controle</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">
  
</head>

<body>
  <nav class="navbar">
    <div class="logo">
      <img src="{{ url_for('static', filename='gimscop.svg') }}" alt="Logo">
    </div>
    <ul>
      <li><a href="/" class="tooltip" title="Página Inicial"><i class="fas fa-home"></i></a></li>
      <li><a href="/realtime" class="tooltip" title="Tempo Real"><i class="fas fa-clock"></i></a></li>
      <li><a href="/dash" class="tooltip" title="Dashboard"><i class="fas fa-flask"></i></a></li>
      <li><a href="/sobre" class="tooltip" title="Sobre"><i class="fas fa-info-circle"></i></a></li>
    </ul>
  </nav>
  
  <style>
    /* Estilos do Tooltip */
    .tooltip {
      position: relative;
      display: inline-block;
    }
  
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: white;
      text-align: center;
      padding: 5px;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 0.3s;
    }
  
    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  </style>
  

  <div class="texto_1">
    <h1>Supervisório de Controle da Planta de Destilação Multivasos</h1>
  </div>

  <div class="texto_2">
    <p>Aqui você poderá controlar o funcionamento da planta em tempo real, assim como acompanhar as atualizações dos
      dados</p>
      
  </div>

  <div class="container">
    <div class="desenho-planta">
      <img src="{{ url_for('static', filename='desenho planta.jpeg') }}" alt="Supervisório">
    </div>
    <div class="table-container">
      <table id="data-table">
        <thead>
          <tr>
            <th>Reservatório</th>
            <th>Coluna_1</th>
            <th>Coluna_2</th>
            <th>Coluna_3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>T0: {{dados[0]}} </td>
            <td>T1: {{dados[1]}} </td>
            <td>T2: {{dados[2]}} </td>
            <td>T3: {{dados[3]}} </td>
          </tr>
          <tr>
            <td>P0: {{dados[4]}} </td>
            <td>P1: {{dados[5]}} </td>
            <td>P2: {{dados[6]}} </td>
            <td>P3: {{dados[7]}} </td>
          </tr>
          <tr>
            <td></td>
            <td>B1: {{dados[8]}} </td>
            <td>B2: {{dados[9]}} </td>
            <td>B3: {{dados[10]}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <canvas class="Temperaturas"></canvas>
  <canvas class="Pesos"></canvas>
  <canvas class="Vazoes"></canvas>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

  <script>
    var ctx = document.querySelector('.Temperaturas').getContext('2d');
    var cty = document.querySelector('.Pesos').getContext('2d');
    var ctz = document.querySelector('.Vazoes').getContext('2d');

    var grafico_temperaturas = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio'],
        datasets: [
          {
            label: 'T0',
            data: [20, 30],
            borderColor: 'rgb(255, 99, 132)',
            backgroundColor: 'transparent',
          },
          {
            label: 'T1',
            data: [300, 53, 10, 65, 70],
            borderColor: 'rgb(255, 159, 64)',
            backgroundColor: 'transparent',
          },
          {
            label: 'T2',
            data: [50, 20, 200, 56, 48],
            borderColor: 'rgb(75, 192, 192)',
            backgroundColor: 'transparent',
          },
          {
            label: 'T3',
            data: [51, 51, 541, 152, 12],
            borderColor: 'rgb(54, 162, 235)',
            backgroundColor: 'transparent',
          },
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Temperaturas',
          fontSize: 20
        },
        scales: {
          yAxes: [{
            ticks: {
              fontStyle: "bold"
            }
          }]
        }
      }
    });


    var grafico_pesos = new Chart(cty, {
      type: 'line',
      data: {
        labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio'],
        datasets: [
          {
            label: 'P0',
            data: [20, 30],
            borderColor: 'rgb(255, 99, 132)',
            backgroundColor: 'transparent',
          },
          {
            label: 'P1',
            data: [300, 53, 10, 65, 70],
            borderColor: 'rgb(255, 159, 64)',
            backgroundColor: 'transparent',
          },
          {
            label: 'P2',
            data: [50, 20, 200, 56, 48],
            borderColor: 'rgb(75, 192, 192)',
            backgroundColor: 'transparent',
          },
          {
            label: 'P3',
            data: [51, 51, 541, 152, 12],
            borderColor: 'rgb(54, 162, 235)',
            backgroundColor: 'transparent',
          },
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Pesos',
          fontSize: 20
        },
        scales: {
          yAxes: [{
            ticks: {
              fontStyle: "bold"
            }
          }]
        }
      }
    });

    var grafico_vazoes = new Chart(ctz, {
      type: 'line',
      data: {
        labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio'],
        datasets: [

          {
            label: 'B1',
            data: [300, 53, 10, 65, 70],
            borderColor: 'rgb(255, 159, 64)',
            backgroundColor: 'transparent',
          },
          {
            label: 'B2',
            data: [50, 20, 200, 56, 48],
            borderColor: 'rgb(75, 192, 192)',
            backgroundColor: 'transparent',
          },
          {
            label: 'B3',
            data: [51, 51, 541, 152, 12],
            borderColor: 'rgb(54, 162, 235)',
            backgroundColor: 'transparent',
          },
        ]
      },
      options: {
        title: {
          display: true,
          text: 'Vazoes',
          fontSize: 20
        },
        scales: {
          yAxes: [{
            ticks: {
              fontStyle: "bold"
            }
          }]
        }
      }
    });

  </script>

</body>

</html>